<!DOCTYPE html>
<html>
<head>
    <title> Admin </title>
    <style>


    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href=" /CSS/Nav.css">
    <link rel="stylesheet" href=" /CSS/main.css">
    <link rel="stylesheet" href="/CSS/admin.css">
</head>



<body>
<div class="navbar">
    <a href="http://localhost:9000/home" id="logo">
        <img src="/Images/logo.png" alt="Logo of REVW">
    </a>
    <a href="http://localhost:9000/home">Home</a>
    <div class="dropdown">
        <button style="font-size:22px; margin-left: 0px; padding: 20px; font-weight: bold; color: white;
        text-shadow: 1px 1px #757477; font-family: Helvetica, sans-serif;" class="dropbtn" id="review">Reviews
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="header">
                <h2>Catagrories</h2>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Genre</h3>
                    <a href="http://localhost:9000/games?genre=Action&platform=Null&other=Null">Action</a>
                    <a href="http://localhost:9000/games?genre=Adventure&platform=Null&other=Null">Adventure</a>
                    <a href="http://localhost:9000/games?genre=RPG&platform=Null&other=Null">Role-Playing</a>
                    <a href="http://localhost:9000/games?genre=Simulation&platform=Null&other=Null">Simulation</a>
                    <a href="http://localhost:9000/games?genre=Strategy&platform=Null&other=Null">Strategy</a>
                    <a href="http://localhost:9000/games?genre=Sports&platform=Null&other=Null">Sports</a>
                </div>
                <div class="column">
                    <h3>Platform</h3>
                    <a href="http://localhost:9000/games?genre=Null&platform=Playstation&other=Null">PS</a>
                    <a href="http://localhost:9000/games?genre=Null&platform=Xbox&other=Null">Xbox</a>
                    <a href="http://localhost:9000/games?genre=Null&platform=Nintendo&other=Null">Nintendo</a>
                    <a href="http://localhost:9000/games?genre=Null&platform=PC&other=Null">PC</a>
                </div>

                <div class="column">
                    <h3>Other</h3>
                    <a href="http://localhost:9000/games?genre=Null&platform=Null&other=New">New Releases</a>
                    <a href="http://localhost:9000/games?genre=Null&platform=Null&other=Top">Top Rated </a>
                    <a href="http://localhost:9000/games?genre=Null&platform=Null&other=Popular">Popular</a>

                </div>
            </div>
        </div>
    </div>


    <a id="admin" href="http://localhost:9000/admin"> Admin</a>
    <a  id="signIn" href="http://localhost:9000/signIn"> Sign In</a>

    <div id ="loggedIn" class="">
        <a id="profile" href="http://localhost:9000/profile"> Profile</a>
        <a id="signOut" href="http://localhost:9000/signOut"> Sign Out</a>

    </div>

</div>

<div class="container">

    <section>

        <h1> Admin</h1>

        <button class="accordion">Add User</button>
        <div class="panel">

            <h1> Enter Details here:</h1>

            <form action="/adminRequest" method="post">
                <div class="container">
                    <label for="username"><b></b></label>
                    <input type="text" placeholder="Enter Username" name="userName" minlength="2" maxlength="28" required>

                    <input type="checkbox" id="admin" name="admin" value="True">
                    <label for ="admin"> Admin?</label>
                </div>

                <div class="container">

                    <label for="psw"><b></b></label>
                    <input type="password" placeholder="Enter Password" name="userPassword" minlength="2" maxlength="28"
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Must include at least 1 uppercase character,lowercase character & number." required>

                    <label for="psw2"><b></b></label>
                    <input type="password" placeholder="Re-Enter Password" name="userPassword2" minlength="2" maxlength="28"
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Must include at least 1 uppercase character,lowercase character & number." required>

                    <button type="submit">Add Account </button>
                </div>

                <div id="res" class="alert <%= output.class %>">
                    <%= output.message %>
                </div>
            </form>
        </div>

        <button class="accordion">Add Game</button>
        <div class="panel">
            <h1> Enter Details here:</h1>

            <form action="/adminRequest" method="post">
                <div class="container">
                    <label for="gamename"><b></b></label>
                    <input type="text" placeholder="Enter Name" name="gameName" minlength="2" maxlength="28" required>

                    <label for="gamePlatform"><b> Platform  </b> </label>
                    <select style="width: 15%" name="gamePlatform" id="gamePlatform">
                        <option value="Playstation"> Playstation </option>
                        <option value="Xbox"> Xbox </option>
                        <option value="Nintendo"> Nintendo </option>
                        <option value="PC"> PC </option>
                        <option value="All"> All </option>
                    </select>

                    <label for="gameGenre"><b> Genre  </b> </label>
                    <select style="width: 15%" name="gameGenre" id="gameGenre">
                        <option value="Action"> Action </option>
                        <option value="Adventure"> Adventure </option>
                        <option value="Simulation"> Simulation </option>
                        <option value="RPG"> RPG </option>
                        <option value="Strategy"> Strategy </option>
                        <option value="Sports"> Sports </option>
                    </select>




                <!--
                    <label for="gamePlatform"><b></b></label>
                    <input type="text" placeholder="Platform" name="gamePlatform" minlength="2" maxlength="28" required>

                    <label for="gameGenre"><b></b></label>
                    <input type="text" placeholder="Genre" name="gameGenre" minlength="2" maxlength="28" required> -->
                </div>

                <div class="container">
                    <label for="gameDescription"><b></b></label>
                    <input style="width: 100%" type="text" placeholder="Description Of Game" name="gameDescription" minlength="2" maxlength="120" required>
                </div>

                <div class="container">

                    <label for="gameRelease"><b></b></label>
                   <input style="width: 20%" type="date" placeholder="Release Date" name="gameRelease" minlength="2" maxlength="28" required>

                    <label for="gameImage"><b></b></label>
                    <input type="text" placeholder="File Path of image" name="gameImage" minlength="2" maxlength="100" required>


                    <button type="submit">Add Game </button>
                </div>

                <div id="res" class="alert <%= outputGame.class %>">
                    <%= outputGame.message %>
                </div>
            </form>
        </div>

        <button class="accordion">Remove User</button>
        <div class="panel">
           <table>
               <thead>
                    <tr><th>User ID</th> <th>Username</th> <th>User Password</th> <th> Admin </th></tr>
               </thead>

               <tbody>
                 <% for (i=0; i<users.length; i++) { %>
                 <tr>
                     <td> <%= users[i]._id %> </td>
                     <td> <%=  users[i].userName%> </td>
                     <td> <%= users[i].userPassword %> </td>
                     <td> <%= users[i].admin %> </td>
                 </tr>
                 <% } %>
               </tbody>
           </table>


            <form action="/adminRequest" method="post">
                <div class="container">
                    <label for="username"><b></b></label>
                    <input type="text" placeholder="Enter Username" name="deleteUser" minlength="2" maxlength="28" required>
                    <button type="submit">Delete Account </button>
                </div>

                <div id="res" class="alert <%= outputDelete.class %>">
                    <%= outputDelete.message %>
                </div>
            </form>

        </div>

        <button class="accordion">Remove Game</button>
        <div class="panel">
            <table>
                <thead>
                <tr><th>Name</th> <th> Platform </th><th>Genre </th> <th>Release </th></tr>
                </thead>

                <tbody>
                <% for (i=0; i<games.length; i++) { %>
                    <tr>
                        <td> <%= games[i].gameName %> </td>
                        <td> <%=  games[i].gamePlatform%> </td>
                        <td> <%= games[i].gameGenre %> </td>
                        <td> <%= games[i].gameRelease %> </td>
                    </tr>
                <% } %>
                </tbody>
            </table>


            <form action="/adminRequest" method="post">
                <div class="container">
                    <label for="username"><b></b></label>
                    <input type="text" placeholder="Enter Username" name="deleteGame" minlength="2" maxlength="28" required>
                    <button type="submit">Delete Game </button>
                </div>
            </form>
        </div>



    </section>

    <article>
        <h1>Website Statistics</h1>

        <p> Number Of Users: <%= stats.userNum %> </p>
        <p> Average User Name Length: <%= stats.lenNum %> </p>
        <p> Number Of Admin: <%= stats.adminNum %> </p>
        <p> Number Of Games: <%= stats.gameNum %></p>
        <p> Number Of Reviews: </p>
        <p> Average Reviews Per Game: </p>



    </article>

</div>





<div style="padding:16px">

    <p id="result"> Name: <%= session.user %> Admin:  <%= session.admin %> ID: <%= session.userID%></p>

</div>

<footer>

    <p> Revw © | <%= date %> </p>
</footer>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

<script>
    <% if (session.user == 'none') { %>

    let navId = document.getElementById("loggedIn");
    navId.classList.add("hidden");

    navId = document.getElementById("signIn");
    navId.classList.remove("hidden");
    <% } else { %>

    let navId = document.getElementById("loggedIn");
    navId.classList.remove("hidden");

    navId = document.getElementById("signIn");
    navId.classList.add("hidden");
    <% }%>

    <% if (session.admin == false) { %>

    navId = document.getElementById("admin");
    navId.classList.add("hidden");

    <% } else { %>

    navId = document.getElementById("admin");
    navId.classList.remove("hidden");

    <% }%>
</script>


</body>


</html>