<!DOCTYPE html>
<html>
<head>
    <title> Review - <%= games[0].gameName %> </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href=" /CSS/Nav.css">
    <link rel="stylesheet" href=" /CSS/main.css">
    <link rel="stylesheet" href=" /CSS/review.css">

</head>

<body>
<div class="navbar">
    <a href="http://localhost:9000/home" id="logo">
        <img src="/Images/logo.png" alt="Logo of REVW">
    </a>
    <a href="http://localhost:9000/home">Home</a>
    <div class="dropdown">
        <button style="font-size:22px; margin-left: 0px; padding: 20px; font-weight: bold; color: white;
        text-shadow: 1px 1px #757477; font-family: Helvetica, sans-serif;" class="dropbtn" id="review">Reviews
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="header">
                <h2>Catagrories</h2>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Genre</h3>
                    <a href="http://localhost:9000/games?genre=Action&platform=Null&other=Null">Action</a>
                    <a href="http://localhost:9000/games?genre=Adventure&platform=Null&other=Null">Adventure</a>
                    <a href="http://localhost:9000/games?genre=RPG&platform=Null&other=Null">Role-Playing</a>
                    <a href="http://localhost:9000/games?genre=Simulation&platform=Null&other=Null">Simulation</a>
                    <a href="http://localhost:9000/games?genre=Strategy&platform=Null&other=Null">Strategy</a>
                    <a href="http://localhost:9000/games?genre=Sports&platform=Null&other=Null">Sports</a>
                </div>
                <div class="column">
                    <h3>Platform</h3>
                    <a href="http://localhost:9000/games?genre=Null&platform=Playstation&other=Null">PS</a>
                    <a href="http://localhost:9000/games?genre=Null&platform=Xbox&other=Null">Xbox</a>
                    <a href="http://localhost:9000/games?genre=Null&platform=Nintendo&other=Null">Nintendo</a>
                    <a href="http://localhost:9000/games?genre=Null&platform=PC&other=Null">PC</a>
                </div>

                <div class="column">
                    <h3>Other</h3>
                    <a href="http://localhost:9000/games?genre=Null&platform=Null&other=New">New Releases</a>
                    <a href="http://localhost:9000/games?genre=Null&platform=Null&other=Top">Top Rated </a>
                    <a href="http://localhost:9000/games?genre=Null&platform=Null&other=Popular">Popular</a>

                </div>
            </div>
        </div>
    </div>


    <a id="admin" href="http://localhost:9000/admin"> Admin</a>
    <a  id="signIn" href="http://localhost:9000/signIn"> Sign In</a>

    <div id ="loggedIn" class="">
        <a id="profile" href="http://localhost:9000/profile"> Profile</a>
        <a id="signOut" href="http://localhost:9000/signOut"> Sign Out</a>

    </div>

</div>

<div class="container">

    <section>


        <h1> Reviews </h1>

        <div class="row">


            <div class="card">
                <img id="gameImage" src="/Game-Images/<%=  games[0].gameImage %>" alt="Avatar" style="width:100%">
                <p id="gameScore"><%=  games[0].gameScore %></p>
            </div>
            <div class="cardUnder">
                <h2><b><%=  games[0].gameName  %></b></h2>
                <p>Platform | <%=  games[0].gamePlatform%> </p>
                <p>Genre | <%= games[0].gameGenre%></p>
                <p>Release | <%=  games[0].gameRelease%></p>
                <p><%=  games[0].gameDescription%></p>
            </div>
        </div>

        <button class="accordion">Make A Review</button>
        <div class="panel">

            <h1> Enter Details here:</h1>

            <form action="/reviewRequest" method="post">

                <input style="padding: 1px;" class="hidden" type="text" value="<%= session.userID%>"  name="UserID">
                <input style="padding: 1px;" class="hidden" type="text"  value="<%= games[0]._id%>"name="GameID">
                <input style="padding: 1px;" class="hidden" type="text" value="<%= games[0].gameName%>"  name="gameName">

                <div class="container">
                    <label for="gamePlatform"><b>Score</b> </label>
                    <select class="selectScore" style="width: 15%" name="reviewScore" id="reviewScore">
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                        <option value="6"> 6 </option>
                        <option value="7"> 7 </option>
                        <option value="8"> 8 </option>
                        <option value="9"> 9 </option>
                        <option value="10"> 10 </option>
                    </select>
                </div>
                <div class="container">
                    <label for="reviewDescription"><b></b></label>
                    <input type="text" placeholder="Review" name="reviewDescription" minlength="2" maxlength="500" required>
                </div>

                <div class="container">
                    <button type="submit">Submit Review </button>
                </div>
                <div id="res" class="alert <%= output.class %>">
                    <%= output.message %>
                </div>
            </form>
        </div>

        <button class="accordion">See Other Reviews</button>
        <div class="panel">
            <% if (reviews) {%>
            <% for (i=0; i<reviews.length; i++) { %>
                <div class="review">
                    <p id="reviewScore">  <%=reviews[i].reviewScore%></p>
                    <p> User | <%= reviews[i].userName%></p>
                    <p>Review | <%= reviews[i].reviewDescription%></p>

                  </div>

            <% } } %>


        </div>

    </section>

</div>

<footer>

    <p> Revw © | <%= date %> </p>
</footer>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>


<script>// checks if user is logged on or not
    <% if ((session.user == null) || (session.user == 'none')  ) { %>

    let navId = document.getElementById("loggedIn");
    navId.classList.add("hidden");

    navId = document.getElementById("signIn");
    navId.classList.remove("hidden");
    <% } else { %>

    let navId = document.getElementById("loggedIn");
    navId.classList.remove("hidden");

    navId = document.getElementById("signIn");
    navId.classList.add("hidden");
    <% }%>

    <% if((session.admin == null) ||  (session.admin == false) ){ %>

    navId = document.getElementById("admin");
    navId.classList.add("hidden");

    <% } else { %>

    navId = document.getElementById("admin");
    navId.classList.remove("hidden");

    <% }%>
</script>


</body>


</html>